img {
    height: 500px;
    border-radius: 50%;
    
}

h1 {
    text-align: center;
    font-size: 70px;
    color: white;
}

div {
    text-align: center;
    
}

body {
    background-color: #252850;

}

button {
    font-size: 30px;
    background-color: #E65100;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-left: 1%;
    margin-right: 1%;
}

h2 {
    text-align: center;
    font-size: 40px;
    color: #E65100;
    
}

p {
    text-align: center;
    font-size: 30px;
    color: black;
    border: 5px solid #000;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    background-color: #f9f9f9;
}